/* #region CSS custom properties */
:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Colors */
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --modal-background: #fcfcfc;
  --btn-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* #endregion CSS custom properties */
/* #region Base styles */
body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(var(--text), 1);
  background-color: var(--white);
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}
/* #endregion Base styles */
/* #region Common styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
/* #endregion Common styles */
/* #region Header */
/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.logo-accent {
  color: var(--primary-brand);
}

/* Site nav */
.header-menu-link {
  font-weight: 500;
  color: var(--dark);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state);
}

/* Navigation contact */
.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}
/* #endregion Header*/
/* #region Hero */
.hero {
  background-color: var(--dark);
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white);
}

.hero-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--primary-brand);
  border-color: transparent;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-brand);
}
/* #endregion Hero*/
/* #region Benefits */
.benefits-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
}

/* #endregion Benefits */
/* #region Work */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);
}

/* #endregion Work */
/* #region Team */
.team {
  background-color: var(--light);
}

.team-item {
  background-color: var(--white);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--dark);
}

.team-position {
  text-align: center;
}
/* #endregion Team */
/* #region Footer */
.footer {
  background-color: var(--dark);
}

.footer-text {
  color: var(--light);
}

.logo-footer {
  color: var(--light);
}
/* #endregion Footer */

/* #region Portfolio */
.filter-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--primary-brand);
  background-color: var(--light);
  border-color: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--pressed-state);
}

.buttons-list .filter-btn.current {
  color: var(--white);
  background-color: var(--pressed-state);
}
/* #endregion Portfolio */
/* #region All-filters */
.filter-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
}

.filter-item {
  border: 1px solid var(--accent);
}
/* #endregion All-filters */
